body {
    background-color: hsl(0, 0%, 10%);
}

.to-do-list {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
    color: white;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.add-button {
    background-color: hsl(120, 100%, 35%);
}

.add-button:hover {
    background-color: hsl(120, 100%, 25%);
}

.delete-button {
    background-color: hsl(0, 69%, 40%);
}

.delete-button:hover {
    background-color: hsl(0, 69%, 35%);
}

.move-button {
    background-color: hsl(208, 87%, 50%);
}

.move-button:hover {
    background-color: hsl(208, 87%, 40%);
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 80%, 0.5);
    color: black;
    border-radius: 5px;
}

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;

}

.delete-button,
.move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;

}